.container-weakly-weather {
  grid-row: 2 / 15;
  padding-left: 15px;
}

.row-wrapper {
  padding-top: max(10px, 3%);
  padding-bottom: max(10px, 3%);
  overflow: auto;
}

@media only screen and (max-width: 800px) {
  .container-weakly-weather {
    width: 100%;
    height: calc((100% - 100px) * 0.5);
    order: 3;
  }
}
