* {
  box-sizing: border-box;
}

.App {
  background-image: url("./assets/images/img_background.png");
  background-size: cover;
  text-align: center;
  display: block;
  width: 100vw;
  height: 100vh;
  min-width: 100px;
  min-height: 150px;
  padding-top: max(3px, 2%);
  padding-left: max(5px, 5%);
  padding-right: max(5px, 5%);
  padding-bottom: max(5px, 5%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.HourlyWeather {
  height: 20%;
}

.CommonWeather {
  display: grid;
  height: 80%;
  grid-template-columns: 30% 70%;
}

@media only screen and (min-width: 800px) {
  .CommonWeather {
    display: flex;
    flex-direction: column;
    height: 150vh;
  }

  .HourlyWeather {
    height: 50vh;
  }
}
